<div class="container">
  <div class="row hero">
    <div class="col-4">
      <div class="container">
        <div class="stat-box character-name">
          <span class="attrib-val large-val"><%= @character.character_name %></span>
          <hr>
          <h1>CHARACTER NAME</h1>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="stat-box character-foundation">
          <div class="row">
            <div class="col">
              <span class="attrib-val med-val"><%= @character.character_class %> <%= @character.level %></span>
              <hr>
              <h1>CLASS & LEVEL</h1>
            </div>
            <div class="col">
              <span class="attrib-val med-val"><%= @character.background %></span>
              <hr>
              <h1>BACKGROUND</h1>
            </div>
            <div class="col">
              <span class="attrib-val med-val">[player name]</span>
              <hr>
              <h1>PLAYER NAME</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="attrib-val med-val"><%= @character.race %> <%= "(#{@character.subrace})" if @character.subrace.present? %></span>
              <hr>
              <h1>RACE</h1>
            </div>
            <div class="col">
              <span class="attrib-val med-val"><%= @character.alignment %></span>
              <hr>
              <h1>ALIGNMENT</h1>
            </div>
            <div class="col">
              <span class="attrib-val med-val">[xp]</span>
              <hr>
              <h1>EXPERIENCE POINTS</h1>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="container">
      <div class="row">
        <div class="col-4 attributes-bleb">
          <div class="attribute-container">
            <div class="stat-box attribute">
              <h1>STRENGTH</h1>
              <div class="attrib-mod"><%= "%+d" % @character.attributes.str_mod %></div>
              <div class="attrib-val"><%= @character.attributes.strength %></div>
            </div>
            <div class="stat-box attribute">
              <h1>DEXTERITY</h1>
              <div class="attrib-mod"><%= "%+d" % @character.attributes.dex_mod %></div>
              <div class="attrib-val"><%= @character.attributes.dexterity %></div>
            </div>
            <div class="stat-box attribute">
              <h1>CONSTITUTION</h1>
              <div class="attrib-mod"><%= "%+d" % @character.attributes.con_mod %></div>
              <div class="attrib-val"><%= @character.attributes.constitution %></div>
            </div>
            <div class="stat-box attribute">
              <h1>INTELLIGENCE</h1>
              <div class="attrib-mod"><%= "%+d" % @character.attributes.int_mod %></div>
              <div class="attrib-val"><%= @character.attributes.intelligence %></div>
            </div>
            <div class="stat-box attribute">
              <h1>WISDOM</h1>
              <div class="attrib-mod"><%= "%+d" % @character.attributes.wis_mod %></div>
              <div class="attrib-val"><%= @character.attributes.wisdom %></div>
            </div>
            <div class="stat-box attribute">
              <h1>CHARISMA</h1>
              <div class="attrib-mod"><%= "%+d" % @character.attributes.cha_mod %></div>
              <div class="attrib-val"><%= @character.attributes.charisma %></div>
            </div>
          </div>
        </div>
        <div class="col-8 attributes-bleb">
          <div class="container">
            <div class="row">
              <span class='ticky-box'>&nbsp;</span><span class="box-label">INSPIRATION</span>
            </div>
            <div class="row mt-1">
              <span class="labelled-val"><%= @character.proficiency_bonus %></span><span class="box-label">PROFICIENCY BONUS</span>
            </div>
          </div>
          <div class="stat-box">
            <ul>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :str_save %>"></span>
                <span><%= "%+d" % @character.saving_throws.strength %></span>
                <span>Strength</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :dex_save %>"></span>
                <span><%= "%+d" % @character.saving_throws.dexterity %></span>
                <span>Dexterity</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :con_save %>"></span>
                <span><%= "%+d" % @character.saving_throws.constitution %></span>
                <span>Constitution</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :int_save %>"></span>
                <span><%= "%+d" % @character.saving_throws.intelligence %></span>
                <span>Intelligence</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :wis_save %>"></span>
                <span><%= "%+d" % @character.saving_throws.wisdom %></span>
                <span>Wisdom</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :cha_save %>"></span>
                <span><%= "%+d" % @character.saving_throws.charisma %></span>
                <span>Charisma</span>
              </li>
            </ul>
            <h1 class="text-centre">SAVING THROWS</h1>
          </div>
          <div class="stat-box">
            <ul>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :acrobatics %>"></span>
                <span><%= "%+d" % @character.abilities.acrobatics %></span>
                <span>Acrobatics</span>
                <span class="governing-attrib">(Dex)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :animal_handling %>"></span>
                <span><%= "%+d" % @character.abilities.animal_handling %></span>
                <span>Animal handling</span>
                <span class="governing-attrib">(Wis)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :arcana %>"></span>
                <span><%= "%+d" % @character.abilities.arcana %></span>
                <span>Arcana</span>
                <span class="governing-attrib">(Int)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :athletics %>"></span>
                <span><%= "%+d" % @character.abilities.athletics %></span>
                <span>Athletics</span>
                <span class="governing-attrib">(Str)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :deception %>"></span>
                <span><%= "%+d" % @character.abilities.deception %></span>
                <span>Deception</span>
                <span class="governing-attrib">(Cha)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :history %>"></span>
                <span><%= "%+d" % @character.abilities.history %></span>
                <span>History</span>
                <span class="governing-attrib">(Int)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :insight %>"></span>
                <span><%= "%+d" % @character.abilities.insight %></span>
                <span>Insight</span>
                <span class="governing-attrib">(Wis)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :intimidation %>"></span>
                <span><%= "%+d" % @character.abilities.intimidation %></span>
                <span>Intimidation</span>
                <span class="governing-attrib">(Cha)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :investigation %>"></span>
                <span><%= "%+d" % @character.abilities.investigation %></span>
                <span>Investigation</span>
                <span class="governing-attrib">(Int)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :medicine %>"></span>
                <span><%= "%+d" % @character.abilities.medicine %></span>
                <span>Medicine</span>
                <span class="governing-attrib">(Wis)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :nature %>"></span>
                <span><%= "%+d" % @character.abilities.nature %></span>
                <span>Nature</span>
                <span class="governing-attrib">(Int)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :perception %>"></span>
                <span><%= "%+d" % @character.abilities.perception %></span>
                <span>Perception</span>
                <span class="governing-attrib">(Wis)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :performance %>"></span>
                <span><%= "%+d" % @character.abilities.performance %></span>
                <span>Performance</span>
                <span class="governing-attrib">(Cha)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :persuasion %>"></span>
                <span><%= "%+d" % @character.abilities.persuasion %></span>
                <span>Persuasion</span>
                <span class="governing-attrib">(Cha)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :religion %>"></span>
                <span><%= "%+d" % @character.abilities.religion %></span>
                <span>Religion</span>
                <span class="governing-attrib">(Int)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :sleight_of_hand %>"></span>
                <span><%= "%+d" % @character.abilities.sleight_of_hand %></span>
                <span>Sleight of hand</span>
                <span class="governing-attrib">(Dex)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :stealth %>"></span>
                <span><%= "%+d" % @character.abilities.stealth %></span>
                <span>Stealth</span>
                <span class="governing-attrib">(Dex)</span>
              </li>
              <li>
                <span class="dot <%= 'selected-dot' if @character.proficiencies.include? :survival %>"></span>
                <span><%= "%+d" % @character.abilities.survival %></span>
                <span>Survival</span>
                <span class="governing-attrib">(Wis)</span>
              </li>
            </ul>
            <h1 class="text-centre">SKILLS</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pr-3">
        <span class="labelled-val"><%= @character.passive_perception %></span><span class="box-label">PASSIVE WISDOM (PERCEPTION)</span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="stat-box free-text ml-3 mr-3">
          <dl>
            <dt>Languages: </dt>
            <dd><%= @character.languages.join(', ') %></dd>
            <dt>Proficiencies: </dt>
            <dd>TODO - weapons etc.</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="container combat-passive-container">
      <div class="row">
        <div class="col-4">
          <div class="stat-box text-centre">
            <span class="attrib-val large-val">##</span>
            <h1>ARMOR CLASS</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="stat-box text-centre">
            <span class="attrib-val large-val"><%= "%+d" % @character.initiative %></span>
            <h1>INITIATIVE</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="stat-box text-centre">
            <span class="attrib-val large-val"><%= @character.base_speed %> ft.</span>
              <h1>SPEED</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="stat-box text-centre">
            <span class="attrib-val"><%= @character.hit_point_maximum %>/<%= @character.hit_point_maximum %></span>
              <h1>CURRENT HIT POINTS</h1>
          </div>
          <div class="stat-box text-centre">
            <span class="attrib-val">&nbsp;</span>
              <h1>TEMPORARY HIT POINTS</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="stat-box text-centre">
            <span class="attrib-val"><%= @character.level %>d<%= @character.hit_die %></span>
              <h1>HIT DICE</h1>
          </div>
        </div>
        <div class="col-8">
          <div class="stat-box text-centre">
            <div class="container">
              <div class="row">
                <div class="col-6 right">SUCCESSES</div>
                <div class="col-6">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-6 right">FAILURES</div>
                <div class="col-6">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
            </div>
            <h1>DEATH SAVES</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="stat-box free-text ml-3 mr-3">
          <dl>
            <dt>Attacks and Spellcasting</dt>
            <dd>TODO - all</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="stat-box free-text ml-3 mr-3">
          <dl>
            <dt>Equipment</dt>
            <dd>TODO - all</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="container attribute-container">
      <div class="stat-box free-text">
        <% @character.personality_traits.each do |trait| %>
          <div><%= trait %></div>
        <% end %>
        <h1 class="text-centre">PERSONALITY TRAITS</h1>
      </div>
      <div class="stat-box free-text">
        <%= @character.ideal %>
        <h1 class="text-centre">IDEALS</h1>
      </div>
      <div class="stat-box free-text">
        <%= @character.bond %>
          <h1 class="text-centre">BONDS</h1>
      </div>
      <div class="stat-box free-text">
        <%= @character.flaw %>
          <h1 class="text-centre">FLAWS</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="stat-box free-text ml-3 mr-3">
          <dl>
            <dt>Features and Traits</dt>
            <dd>TODO - all</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>
  <%= YAML.dump(@character) %>
</pre>
